<div>
    <a href="EagerLoading/Index">Посмотреть соотношение фильм - компания</a>
    <a href="ExplicitLoading/Index">Посмотреть места во втором зале</a>
    <a href="LazyLoading/Index">Рассмотреть все места</a>
</div>