@model WebHometask4.ViewModels.CompanyModel
@{
    ViewData["Title"] = "Компания в деталях";
}

<ul>
    <li>
        <select>
            @foreach (var gnr in ViewBag.Genres)
            {
                <option>@gnr.Name</option>
            }
        </select>
    </li>
 </ul>

<h2> Подробное описание компании</h2>
<table class="table-condensed">
    <tr>
        <td> Id </td>
        <td> Название</td>
        <td> С создания прошло</td>
    </tr>
    <tr>
        <td>
            @ViewBag.CompanyId
        </td>
        <td>
            @Html.Display("Name")
        </td>
        <td>
            @Html.Display("Lifetime")
        </td>
    </tr>
</table>
<a class="btn btn-primary" asp-controller="Company" asp-action="CompanyNames"> Вернуться в список </a>