@model WebHometask4.Models.Genre
@{
    ViewData["Title"] = "Жанр в деталях";
}

<h2> Подробное описание жанра</h2>
<table class="table-condensed">
    <tr>
        <td> Id </td>
        <td> Название</td>
    </tr>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
</table>