@model WebHometask4.ViewModels.GenreModel
@{
    ViewData["Title"] = "Жанр в деталях";
}

<ul>
    <li>
        <select>
            @foreach (var com in ViewBag.Companies)
            {
                <option>@com.Name</option>
            }
        </select>
        </li>
 </ul>

<h2> Подробное описание жанра</h2>
<table class="table-condensed">
    <tr>
        <td> Id </td>
        <td> Название</td>
        <td> С создания прошло</td>
    </tr>
    <tr>
        <td>
            @ViewBag.GenreId
        </td>
        <td>
            @Model.Name
        </td>
        <td> 
            @Model.Lifetime
        </td>
    </tr>
</table>
<button class="btn btn-primary" onclick="location.href = '/Genre/GenreNames';"> Вернуться в список </button>